#TRAEMOS LIBRERIAS A UTILIZAR:üë©‚Äçüíªüë©‚Äçüíª

In [1]:
import pandas as pd
import numpy as np
import os

#TRAEMOS EL ARCHIVO  , AJUSTANDOLO SEGUN EL SEPARADOR QUE TIENE ";"

In [4]:
df_persona= pd.read_csv('/content/drive/MyDrive/Persona2.csv', sep=';')
df_persona

,NumIdPersona,id_empresa,Genero,FechaNacimiento,Edad,Salario,Categoria,Segmento_poblacional,segmento_grupo_familiar,DepartamentoPersona,MunicipioPersona,EstratoPersona
0,1174205.0,56353,F,1/01/1968,52,1800000,b,Medio,NaN,NaN,NaN,NaN
1,800759.0,13625,M,10/11/1930,88,4139944,C,Medio,PAREJA CONYUGAL,DISTRITO CAPITAL,BOGOTA D.C.,5.0
2,809497.0,13922,M,24/10/1929,89,2052757,b,Medio,FAMILIA NUCLEAR INTEGRAL,DISTRITO CAPITAL,BOGOTA D.C.,5.0
3,849342.0,15448,M,5/11/1930,88,2331227,b,Medio,PAREJA CONYUGAL,NaN,NaN,NaN
4,896732.0,17649,M,11/11/1928,90,2372000,b,Medio,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
594186,1430358.0,59001,F,20/12/1993,26,877803,A,Joven,AFILIADO SIN GRUPO FAMILIAR,NaN,NaN,NaN
594187,1430632.0,59092,M,4/03/1989,30,828116,A,Basico,AFILIADO SIN GRUPO FAMILIAR,NaN,NaN,NaN
594188,1431245.0,42960,M,6/11/1991,28,829000,A,Joven,AFILIADO SIN GRUPO FAMILIAR,DISTRITO CAPITAL,BOGOTA D.C.,2.0
594189,1431565.0,41484,F,28/07/1995,24,828116,A,Basico,AFILIADO SIN GRUPO FAMILIAR,DISTRITO CAPITAL,BOGOTA D.C.,NaN
594190,1437508.0,45740,M,3/10/1974,45,877803,A,Basico,FAMILIA MONOPARENTERAL,NaN,NaN,NaN

## CONOCIENDO LOS DATOS

1.	¬øComo est√° perfilada las bases de datos ?

Visualizando todas las columnas

In [5]:
print (df_persona.columns)
print ('-----------------------------')

Index(['NumIdPersona', 'id_empresa', 'Genero', 'FechaNacimiento', 'Edad',
       'Salario', 'Categoria', 'Segmento_poblacional',
       'segmento_grupo_familiar', 'DepartamentoPersona', 'MunicipioPersona',
       'EstratoPersona'],
      dtype='object')
-----------------------------

Descripcion

In [10]:
df_persona.describe()

,NumIdPersona,id_empresa,Edad,Salario,EstratoPersona
count,5.940130e+05,594191.000000,594191.000000,5.941910e+05,369316.000000
mean,8.090480e+05,49508.570179,39.220263,2.161698e+06,2.620201
std,4.201813e+05,12653.770029,11.997544,4.238579e+06,1.181503
min,4.000000e+00,1.000000,0.000000,0.000000e+00,0.000000
25%,4.405340e+05,44624.000000,30.000000,8.281160e+05,2.000000
50%,8.708110e+05,50158.000000,38.000000,1.070000e+06,3.000000
75%,1.182950e+06,55308.000000,47.000000,2.040828e+06,3.000000
max,1.437512e+06,74045.000000,120.000000,1.550000e+09,6.000000

Numero de filas y columnas

In [6]:
df_persona.shape

(594191, 12)

Tipo de datos

In [7]:
df_persona.dtypes

NumIdPersona               float64
id_empresa                   int64
Genero                      object
FechaNacimiento             object
Edad                         int64
Salario                      int64
Categoria                   object
Segmento_poblacional        object
segmento_grupo_familiar     object
DepartamentoPersona         object
MunicipioPersona            object
EstratoPersona             float64
dtype: object

Mayor y menor valor por columnas

In [9]:
max_values = df_persona.max()
min_values = df_persona.min()

print("Valor m√°ximo:")
print(max_values)

print("Valor m√≠nimo:")
print(min_values)

<ipython-input-9-efd40cf5547c>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  max_values = df_persona.max()

Valor m√°ximo:
NumIdPersona             1437512.0
id_empresa                   74045
Genero                   MASCULINO
FechaNacimiento          9/12/2000
Edad                           120
Salario                 1550000000
Categoria                        b
Segmento_poblacional         Medio
EstratoPersona                 6.0
dtype: object
Valor m√≠nimo:
NumIdPersona                  4.0
id_empresa                      1
Genero                          1
FechaNacimiento         1/01/1927
Edad                            0
Salario                         0
Categoria                       A
Segmento_poblacional         Alto
EstratoPersona                0.0
dtype: object

<ipython-input-9-efd40cf5547c>:2: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  min_values = df_persona.min()

Longitud de campo

In [12]:
longitudes = df_persona.apply(lambda x: x.astype(str).str.len())
print(longitudes)

        NumIdPersona  id_empresa  Genero  FechaNacimiento  Edad  Salario  \
0                  9           5       1                9     2        7
1                  8           5       1               10     2        7
2                  8           5       1               10     2        7
3                  8           5       1                9     2        7
4                  8           5       1               10     2        7
...              ...         ...     ...              ...   ...      ...
594186             9           5       1               10     2        6
594187             9           5       1                9     2        6
594188             9           5       1                9     2        6
594189             9           5       1               10     2        6
594190             9           5       1                9     2        6

        Categoria  Segmento_poblacional  segmento_grupo_familiar  \
0               1                     5                        3
1               1                     5                       15
2               1                     5                       24
3               1                     5                       15
4               1                     5                        3
...           ...                   ...                      ...
594186          1                     5                       27
594187          1                     6                       27
594188          1                     5                       27
594189          1                     6                       27
594190          1                     6                       22

        DepartamentoPersona  MunicipioPersona  EstratoPersona
0                         3                 3               3
1                        16                11               3
2                        16                11               3
3                         3                 3               3
4                         3                 3               3
...                     ...               ...             ...
594186                    3                 3               3
594187                    3                 3               3
594188                   16                11               3
594189                   16                11               3
594190                    3                 3               3

[594191 rows x 12 columns]

##2.	Programe y genere los indicadores de calidad de las siguientes reglas:

Reglas de calidad:

##‚Ä¢	El campo ‚ÄúNumIdPersona‚Äù no admite campos vac√≠os

Verificamos si existen campos vacion en "NumldPersona"

In [17]:
campos_vacios_NumIdPersona = df_persona['NumIdPersona'].isna()
campos_vacios_NumIdPersona

0         False
1         False
2         False
3         False
4         False
          ...
594186    False
594187    False
594188    False
594189    False
594190    False
Name: NumIdPersona, Length: 594191, dtype: bool

Calcula el n√∫mero de campos vac√≠os en la columna 'NumIdPersona' / cantidad de fallas en NumIdPersona

In [20]:
num_campos_vacios_NumIdPersona = campos_vacios_NumIdPersona.sum()
num_campos_vacios_NumIdPersona

178

In [26]:
if num_campos_vacios_NumIdPersona == 0:
    print("La regla 'El campo NumIdPersona no admite campos vac√≠os' se cumple.")
else:
    print("La regla 'El campo NumIdPersona no admite campos vac√≠os' no se cumple. Se encontraron", num_campos_vacios_NumIdPersona, "campos vac√≠os.")

La regla 'El campo NumIdPersona no admite campos vac√≠os' no se cumple. Se encontraron 178 campos vac√≠os.

Indicador de calidad para la variable 'NumIdpersona'

In [41]:
total_registros_NumIdPersona = len(df_persona)
print("N√∫mero de campos llenos en 'NumIdPersona':", format(total_registros_NumIdPersona-num_campos_vacios_NumIdPersona,','))
porcentaje_campos_diligenciados= ((total_registros_NumIdPersona-num_campos_vacios_NumIdPersona)/total_registros_NumIdPersona)*100
print("Porcentaje de campos diligenciados en 'NumIdPersona':", round(porcentaje_campos_diligenciados,2), "%")

N√∫mero de campos llenos en 'NumIdPersona': 594,013
Porcentaje de campos diligenciados en 'NumIdPersona': 99.97 %

##‚Ä¢	En el campo ‚ÄúGenero‚Äù solo se admite como valido los valores ‚ÄúF‚Äù Y ‚ÄúM‚Äù

Verificamos si existen valores distintos de 'F' y 'M' en la columna 'Genero':

In [51]:
valores_invalidos_genero = df_persona.loc[~df_persona['Genero'].isin(['F', 'M']), 'Genero']
valores_invalidos_genero

7         MASCULINO
2739              1
85689      FEMENINO
196658     FEMENINO
196659     FEMENINO
            ...
538945     FEMENINO
538946     FEMENINO
538947     FEMENINO
538948     FEMENINO
538949     FEMENINO
Name: Genero, Length: 28850, dtype: object

Calculamos el n√∫mero de valores inv√°lidos en la columna 'Genero':

In [52]:
num_valores_invalidos_genero = len(valores_invalidos)
num_valores_invalidos_genero

28850

Generamos el indicador de calidad para la regla:

In [53]:
if num_valores_invalidos == 0:
    print("En el campo ‚ÄúGenero‚Äù solo se admite como valido los valores ‚ÄúF‚Äù Y ‚ÄúM‚Äù ' se cumple.")
else:
    print("En el campo ‚ÄúGenero‚Äù solo se admite como valido los valores ‚ÄúF‚Äù Y ‚ÄúM‚Äù ' no cumple. Se encontraron", format(num_valores_invalidos,','), "campos invalidos.")

En el campo ‚ÄúGenero‚Äù solo se admite como valido los valores ‚ÄúF‚Äù Y ‚ÄúM‚Äù ' no cumple. Se encontraron 28,850 campos invalidos.

Indicador de calidad para la variable 'Genero'

In [55]:
total_registros_genero = len(df_persona)
print("N√∫mero de campos validos en la columna 'Genero':", format(total_registros_genero-num_valores_invalidos_genero,','))
porcentaje_campos_validos_genero= ((total_registros_genero-num_valores_invalidos_genero)/total_registros_genero)*100
print("Porcentaje de campos validos en la columna 'Genero':", round(porcentaje_campos_validos_genero,2), "%")

N√∫mero de campos validos en la columna 'Genero': 565,341
Porcentaje de campos validos en la columna 'Genero': 95.14 %

##	En el campo ‚ÄúSegmento_poblacional‚Äù solo se permiten las siguientes opciones: Alto, B√°sico, Joven y Medio

Verificamos si existen valores distintos de las opciones permitidas en la columna 'Segmento_poblacional'

In [59]:
valores_invalidos_Segmento_poblacional = df_persona.loc[~df_persona['Segmento_poblacional'].isin(['Alto', 'B√°sico', 'Joven', 'Medio']), 'Segmento_poblacional']
valores_invalidos_Segmento_poblacional

11        Basico
14        Basico
16        Basico
17        Basico
20        Basico
           ...
594184    Basico
594185    Basico
594187    Basico
594189    Basico
594190    Basico
Name: Segmento_poblacional, Length: 251425, dtype: object

Calcula el n√∫mero de valores inv√°lidos en la columna 'Segmento_poblacional':

In [62]:
num_valores_invalidos_Segmento_poblacional = len(valores_invalidos_Segmento_poblacional)
num_valores_invalidos_Segmento_poblacional

251425

In [63]:
indicador_calidad_Segmento_poblacional = "Cumple" if num_valores_invalidos_Segmento_poblacional == 0 else "No cumple"
indicador_calidad_Segmento_poblacional

'No cumple'

Generamos el indicador de calidad para la regla:

In [64]:
total_registros_segmento_poblacional = len(df_persona)
print("N√∫mero de campos validos en la columna 'Segmento poblacional':", format(total_registros_segmento_poblacional-num_valores_invalidos_Segmento_poblacional,','))
porcentaje_campos_validos_segmento_poblacional= ((total_registros_segmento_poblacional-num_valores_invalidos_Segmento_poblacional)/total_registros_segmento_poblacional)*100
print("Porcentaje de campos validos en la columna 'Segmento poblacional':", round(porcentaje_campos_validos_segmento_poblacional,2), "%")

N√∫mero de campos validos en la columna 'Segmento poblacional': 342,766
Porcentaje de campos validos en la columna 'Segmento poblacional': 57.69 %

Los errores generados para esta columna son en la palabra "B√°sico" y en la base datos compartida "Basico", sin tilde , esto genera que 251.425 datos se encuentren invalidos

##	En el campo edad no se admite el valor 0 y tampoco puede tener m√°s de 2 caracteres

Verificamos si existen valores igual a 0 en la columna 'Edad'

In [66]:
valores_cero_edad = df_persona.loc[df_persona['Edad'] == 0, 'Edad']
valores_cero_edad

38        0
77        0
78        0
99        0
100       0
101       0
102       0
103       0
104       0
105       0
135       0
136       0
162       0
195       0
165753    0
165921    0
167691    0
170399    0
173787    0
176404    0
181568    0
183153    0
345549    0
347464    0
349265    0
350991    0
353304    0
480397    0
482759    0
484819    0
Name: Edad, dtype: int64

Calculamos el n√∫mero de valores igual a 0 en la columna 'Edad'

In [67]:
num_valores_cero_edad = len(valores_cero_edad)
num_valores_cero_edad

30

Verificamos si existen valores con m√°s de 2 caracteres en la columna 'Edad'

In [69]:
valores_largos_edad = df_persona.loc[df_persona['Edad'].astype(str).str.len() > 2, 'Edad']
valores_largos_edad

223       101
224       102
225       103
226       104
227       105
         ...
484843    114
484844    115
515428    108
515442    102
515492    105
Name: Edad, Length: 308, dtype: int64

Calculamos el n√∫mero de valores con m√°s de 2 caracteres en la columna 'Edad'

In [70]:
num_valores_largos_edad = len(valores_largos_edad)
num_valores_largos_edad

308

In [72]:
indicador_calidad_edad = "Cumple" if num_valores_cero_edad == 0 and num_valores_largos_edad == 0 else "No cumple"
indicador_calidad_edad

'No cumple'

In [77]:
print("Indicador de calidad para la regla 'En el campo Edad no se admite el valor 0 y tampoco puede tener m√°s de 2 caracteres':", indicador_calidad)

if num_valores_cero_edad > 0:
    print("Valores igual a 0 encontrados en la columna Edad:")
    print(num_valores_cero_edad)

if num_valores_largos_edad > 0:
    print("Valores con m√°s de 2 caracteres encontrados en la columna Edad:")
    print(num_valores_largos_edad)

Indicador de calidad para la regla 'En el campo Edad no se admite el valor 0 y tampoco puede tener m√°s de 2 caracteres': No cumple
Valores igual a 0 encontrados en la columna Edad:
30
Valores con m√°s de 2 caracteres encontrados en la columna Edad:
308

Generamos el indicador de calidad para la regla:

In [78]:
total_registros_edad = len(df_persona)
print("N√∫mero de campos validos en la columna 'edad':", format(total_registros_edad-(num_valores_cero_edad+num_valores_largos_edad),','))
porcentaje_campos_validos_edad= ((total_registros_edad-(num_valores_cero_edad+num_valores_largos_edad))/total_registros_edad)*100
print("Porcentaje de campos validos en la columna 'edad':", round(porcentaje_campos_validos_edad,2), "%")

N√∫mero de campos validos en la columna 'edad': 593,853
Porcentaje de campos validos en la columna 'edad': 99.94 %

## Regla de negocio:
De acuerdo con el campo ‚ÄúCategoria‚Äù solo se permiten las siguientes opciones en el campo ‚ÄúSegmento_poblacional‚Äù

Este diccionario asocia cada categor√≠a con una lista de opciones permitidas para el campo 'Segmento_poblacional'.

In [108]:
opciones_permitidas_categoria = {
    'A': ['B√°sico', 'Joven', 'Medio'],
    'B': ['Joven', 'Medio'],
    'C': ['Alto', 'Joven', 'Medio']
}

combinaciones_invalidas_categoria = df_persona.loc[~df_persona.apply(lambda x: x['Segmento_poblacional'] in opciones_permitidas_categoria.get(x['Categoria'], []), axis=1)]
combinaciones_invalidas_categoria

,NumIdPersona,id_empresa,Genero,FechaNacimiento,Edad,Salario,Categoria,Segmento_poblacional,segmento_grupo_familiar,DepartamentoPersona,MunicipioPersona,EstratoPersona
0,1174205.0,56353,F,1/01/1968,52,1800000,b,Medio,NaN,NaN,NaN,NaN
2,809497.0,13922,M,24/10/1929,89,2052757,b,Medio,FAMILIA NUCLEAR INTEGRAL,DISTRITO CAPITAL,BOGOTA D.C.,5.0
3,849342.0,15448,M,5/11/1930,88,2331227,b,Medio,PAREJA CONYUGAL,NaN,NaN,NaN
4,896732.0,17649,M,11/11/1928,90,2372000,b,Medio,NaN,NaN,NaN,NaN
6,1426305.0,40594,M,9/06/1929,90,1663150,b,Medio,PAREJA CONYUGAL,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
594184,1430336.0,29,F,4/01/1990,30,828116,A,Basico,AFILIADO SIN GRUPO FAMILIAR,NaN,NaN,NaN
594185,1430347.0,58502,M,17/09/1990,29,828116,A,Basico,AFILIADO SIN GRUPO FAMILIAR,DISTRITO CAPITAL,BOGOTA D.C.,3.0
594187,1430632.0,59092,M,4/03/1989,30,828116,A,Basico,AFILIADO SIN GRUPO FAMILIAR,NaN,NaN,NaN
594189,1431565.0,41484,F,28/07/1995,24,828116,A,Basico,AFILIADO SIN GRUPO FAMILIAR,DISTRITO CAPITAL,BOGOTA D.C.,NaN
594190,1437508.0,45740,M,3/10/1974,45,877803,A,Basico,FAMILIA MONOPARENTERAL,NaN,NaN,NaN

Este c√≥digo verifica si cada combinaci√≥n de 'CATEGORIA' y 'SEGMENTO_POBLACIONAL' cumple con las opciones permitidas. Las combinaciones inv√°lidas se almacenar√°n en el DataFrame 'combinaciones_invalidas_categoria'.

Calculamos el n√∫mero de combinaciones no v√°lidas:

In [109]:
num_combinaciones_invalidas_categoria = len(combinaciones_invalidas_categoria)
num_combinaciones_invalidas_categoria

360134

In [110]:
indicador_calidad_categoria = "Cumple" if num_combinaciones_invalidas_categoria == 0 else "No cumple"
indicador_calidad_categoria

'No cumple'

In [111]:
print("Indicador de calidad para la regla 'De acuerdo con el campo Categoria solo se permiten las siguientes opciones en el campo Segmento_poblacional':", indicador_calidad_categoria)

if num_combinaciones_invalidas_categoria > 0:
    print("Combinaciones no v√°lidas encontradas:")
    print(combinaciones_invalidas_categoria[['Categoria', 'Segmento_poblacional']])

Indicador de calidad para la regla 'De acuerdo con el campo Categoria solo se permiten las siguientes opciones en el campo Segmento_poblacional': No cumple
Combinaciones no v√°lidas encontradas:
       Categoria Segmento_poblacional
0              b                Medio
2              b                Medio
3              b                Medio
4              b                Medio
6              b                Medio
...          ...                  ...
594184         A               Basico
594185         A               Basico
594187         A               Basico
594189         A               Basico
594190         A               Basico

[360134 rows x 2 columns]

Imprimimos  el indicador de calidad y las combinaciones no v√°lidas si corresponde:

In [115]:
total_registros_categoria = len(df_persona)
print("N√∫mero de campos con conbinaciones validas:", format(total_registros_categoria-num_combinaciones_invalidas_categoria,','))
porcentaje_campos_validos_categoria= ((total_registros_categoria-num_combinaciones_invalidas_categoria)/total_registros_categoria)*100
print("Porcentaje de campos con combinaciones validas categoria y segmento_poblacional:", round(porcentaje_campos_validos_categoria,2), "%")

N√∫mero de campos con conbinaciones validas: 234,057
Porcentaje de campos con combinaciones validas categoria y segmento_poblacional: 39.39 %